
section{
    background-color: #e7e5e4 ;
    padding-left: 190px;
    padding-right: 190px;
}
 
.carousel-item {
    height: 450px;
    width: 200px;
    border: solid 2px black;
}
  
.carousel-item img {
    height: 100%;
    width: 100%;
    /*object-fit: cover;*/  
}

.d-block {
    height: 450px;
    width: 50%;
}

h5{
    display: center;
    border: solid 1px black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    color: black;
}

.carousel-indicators{
    border: solid 1px black;
    margin-bottom: 0px;
}

p2{
    border: solid 1px black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: medium;
    color: black;
}

