section{
    background-color: #e7e5e4 ;
    padding-left: 190px;
    padding-right: 190px;
}
 
.carousel-item {
    height: 450px;
    width: 200px;
    border: solid 1px rgb(148, 146, 146);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
}
  
.carousel-item img {
    height: 100%;
    width: 100%;
    /*object-fit: cover;*/  
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
}

.d-block {
    height: 450px;
    width: 50%;
}

h5{
    display: center;
    border: solid 1px black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    color: black;
}

.carousel-indicators{  
  margin-bottom: 0px;
}

p2{
    border: solid 1px black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: medium;
    color: black;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.carousel-control-next-icon {
  position: absolute;
  top: 480%;
  left: 120%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat center center;
  background-size: 120% 120%;
  border: solid 1px black;
}

.carousel-control-prev-icon {
    position: absolute;
    top: 480%;
    left: -20%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat center center;
    background-size: 120% 120%;
    border: solid 1px black;
  }

.carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: red;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #242424;
  }
  